/*Main*/
h2{
    text-align: center;
}
#products_header {
    font-weight: 700;
}
h3 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}

/*Main - Table*/
.table {
    width: 80%;
    margin: 2em auto!important;
    border-style: none;
    padding: 5em 0!important;
}
thead {
    display: none;
}
td {
    width: 40%;
}
table tr {
    margin: 10em 0;
}
table h3 {
    margin-left: .8em;
}
table p {
    margin-left: 1.5em;
}
main img {
    height: 300px!important; 
    width: 800px!important;
    margin: 0 auto;
    display: grid;
    max-width: 100%;
    border-radius: 6px;
}
#div1 a {
    text-decoration: none;
}
.atc_button {
    display: grid;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1.5em;
}
#checkout_button {
    display: grid;
    padding: 1em 1em;
    border-radius: 6px;
    margin: 1.5em auto 3em auto;
    text-decoration-style: none!important;
  }

/*Media Queries*/
@media screen and (max-width:960px){
.table {
    width: 87%;
    }
main img {
    height: 330px!important; 
    width: 550px!important;
    margin: 0 auto;
    display: grid;
    border-radius: 6px;
    }
}

@media screen and (max-width:768px){
table h3{
    text-align: center;
}
main img {
    height: 300px!important; 
    width: 550px!important;
    margin: 0 auto;
    display: grid;
    }
.atc_button {
    display: grid;
    margin: 1em auto!important;
    vertical-align: middle;
    }
}
@media screen and (max-width:600px){
    .atc_button {
        display: grid;
        margin: 1em auto!important;
        vertical-align: middle;
        }
    }